In [1]:
!pip install PyMuPDF

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PyMuPDF
  Downloading PyMuPDF-1.20.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.8 MB)
     |████████████████████████████████| 8.8 MB 17.8 MB/s
Installing collected packages: PyMuPDF
Successfully installed PyMuPDF-1.20.2

In [2]:
#!pip install spacy

In [3]:
!pip install -U spacy
!pip install spacy_transformers

import spacy
from spacy.tokens import DocBin
from tqdm import tqdm
import json

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: spacy in /usr/local/lib/python3.7/dist-packages (3.4.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy) (57.4.0)
Requirement already satisfied: typing-extensions<4.2.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.1.1)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.8)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.10.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.0.7)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.6.2)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (21.3)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.9)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.11.3)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.4.5)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (2.23.0)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (8.1.5)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.0.3)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.3.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (4.64.1)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.10.1)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (1.21.6)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.10 in /usr/local/lib/python3.7/dist-packages (from spacy) (3.0.10)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy) (0.4.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy) (3.10.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy) (5.2.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy) (2.10)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.7/dist-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.0.3)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.7/dist-packages (from thinc<8.2.0,>=8.1.0->spacy) (0.7.9)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy) (2.0.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting spacy_transformers
  Downloading spacy_transformers-1.1.8-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 2.2 MB/s
Collecting transformers<4.22.0,>=3.4.0
  Downloading transformers-4.21.3-py3-none-any.whl (4.7 MB)
     |████████████████████████████████| 4.7 MB 59.1 MB/s
Requirement already satisfied: spacy<4.0.0,>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy_transformers) (3.4.2)
Collecting spacy-alignments<1.0.0,>=0.7.2
  Downloading spacy_alignments-0.8.6-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 55.2 MB/s
Requirement already satisfied: srsly<3.0.0,>=2.4.0 in /usr/local/lib/python3.7/dist-packages (from spacy_transformers) (2.4.5)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from spacy_transformers) (1.12.1+cu113)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (1.0.9)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (1.21.6)
Requirement already satisfied: pathy>=0.3.5 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (0.6.2)
Requirement already satisfied: thinc<8.2.0,>=8.1.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (8.1.5)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (1.10.2)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (3.3.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (21.3)
Requirement already satisfied: typing-extensions<4.2.0,>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (4.1.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (4.64.1)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.10 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (3.0.10)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (2.0.7)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (2.11.3)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (2.23.0)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (1.0.3)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (0.4.2)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (2.0.8)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (3.0.8)
Requirement already satisfied: wasabi<1.1.0,>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (0.10.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from spacy<4.0.0,>=3.4.0->spacy_transformers) (57.4.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from catalogue<2.1.0,>=2.0.6->spacy<4.0.0,>=3.4.0->spacy_transformers) (3.10.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (3.0.9)
Requirement already satisfied: smart-open<6.0.0,>=5.2.1 in /usr/local/lib/python3.7/dist-packages (from pathy>=0.3.5->spacy<4.0.0,>=3.4.0->spacy_transformers) (5.2.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0.0,>=2.13.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (2022.9.24)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in /usr/local/lib/python3.7/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (0.0.3)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in /usr/local/lib/python3.7/dist-packages (from thinc<8.2.0,>=8.1.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (0.7.9)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers<4.22.0,>=3.4.0->spacy_transformers) (3.8.0)
Collecting tokenizers!=0.11.3,<0.13,>=0.11.1
  Downloading tokenizers-0.12.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (6.6 MB)
     |████████████████████████████████| 6.6 MB 56.8 MB/s
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers<4.22.0,>=3.4.0->spacy_transformers) (6.0)
Collecting huggingface-hub<1.0,>=0.1.0
  Downloading huggingface_hub-0.10.1-py3-none-any.whl (163 kB)
     |████████████████████████████████| 163 kB 73.8 MB/s
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers<4.22.0,>=3.4.0->spacy_transformers) (4.13.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers<4.22.0,>=3.4.0->spacy_transformers) (2022.6.2)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.7/dist-packages (from typer<0.5.0,>=0.3.0->spacy<4.0.0,>=3.4.0->spacy_transformers) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->spacy<4.0.0,>=3.4.0->spacy_transformers) (2.0.1)
Installing collected packages: tokenizers, huggingface-hub, transformers, spacy-alignments, spacy-transformers
Successfully installed huggingface-hub-0.10.1 spacy-alignments-0.8.6 spacy-transformers-1.1.8 tokenizers-0.12.1 transformers-4.21.3

In [4]:
import sys, fitz, pandas as pd

In [5]:
import spacy
from spacy.tokens import DocBin
from tqdm import tqdm
import json

In [6]:
#!pip install spacy_transformers
#!pip install -U spacy

In [7]:
!nvidia-smi

Sun Nov  6 04:52:04 2022
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.32.03    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   39C    P0    26W /  70W |    336MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
+-----------------------------------------------------------------------------+

In [8]:
n = pd.DataFrame(columns=['Name','Skills','College Name','Graduation Year','Degree','Designation','Graduation Year','Years of Experience','Companies worked at'])

In [9]:
jd = pd.DataFrame(columns=['Skills','Degree','Designation','Years of Experience'])

In [10]:
model = spacy.load('/content/drive/MyDrive/content/output/model-best')

In [11]:
import spacy
from spacy.matcher import Matcher
nlp = spacy.load('en_core_web_sm')
matcher = Matcher(nlp.vocab)

def extract_name(resume_text):
  nlp = spacy.load("en_core_web_sm")
  nlp_text = nlp(resume_text)
    
  # First name and Last name are always Proper Nouns
  pattern = [{'POS': 'PROPN'}, {'POS': 'PROPN'}]
    
  matcher.add('NAME', [pattern], on_match=None)
    
  matches = matcher(nlp_text)
    
  for match_id, start, end in matches:
    span = nlp_text[start:end]
    print(span.text)
    return span.text

In [12]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')





# Grad all general stop words
STOPWORDS = set(stopwords.words('english'))

# Education Degrees
Degree = [
            'BE','B.E.', 'B.E', 'BS', 'B.S','C.A.','c.a.','B.Com','B. Com',
            'M. Com', 'M.Com','M. Com .',
            'ME', 'M.E', 'M.E.', 'MS', 'M.S',
            'BTECH', 'B.TECH', 'M.TECH', 'MTECH',
            'PHD', 'phd', 'ph.d', 'Ph.D.','MBA','mba',
            'graduate', 'post-graduate','5 year integrated masters','masters',
            'SSC', 'HSC', 'CBSE', 'ICSE', 'X', 'XII','BACHELOR'
        ]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [13]:
import re
def extract_degree(resume_text):
    nlp_text = nlp(resume_text)

    # Sentence Tokenizer
    nlp_text = [sent.text.strip() for sent in nlp_text.sents]

    edu = {}
    # Extract education degree
    for index, text in enumerate(nlp_text):
        for tex in text.split():
            # Replace all special symbols
            tex = re.sub(r'[?|$|.|!|,]', r'', tex)
            try:
                if tex.upper() in Degree and tex not in STOPWORDS:
                    edu[tex] = text + nlp_text[index + 1]
    
            except IndexError:
                pass
            continue
                

    # Extract year
    education = []
    for key in edu.keys():
        year = re.search(re.compile(r'(((20|19)(\d{2})))'), edu[key])
        if year:
            education.append((key, ''.join(year[0])))
        else:
            education.append(key)
    return education

In [14]:
def extract_skills(resume_text):
    nlp_text = nlp(resume_text)

    # removing stop words and implementing word tokenization
    tokens = [token.text for token in nlp_text if not token.is_stop]
    
    skills = ["machine learning",
             "deep learning",
             "nlp",
             "natural language processing",
             "mysql",
             "sql",
             "django",
             "computer vision",
             "opencv",
             "mongodb",
             "artificial intelligence",
             "ai",
             "flask",
             "robotics",
             "data structures",
             "python",
             "c",
             "matlab",
             'NumPy','CSS', 'HTML', 'Javascipt',
             'Pandas', 'Tensorﬂow', 'Scikit-Learn', 'OpenCV','tableau',
              'Sentiment Analysis', 'NLTK','BeRT','XLNet', 'Data Science','MATLAB','Project Management','Chain Management',
              'MySQL','AWS','Data Analysis','Software Development','java',
              'ajenti','django-suit','django-xadmin','flask-admin','flower','grappelli','wooey','algorithms','pypattyrn',
              'python-patterns','sortedcontainers','django-simple-captcha','django-simple-spam-blocker','django-compressor',
              'django-pipeline','django-storages','fanstatic','fileconveyor','flask-assets','jinja-assets-compressor','webassets',
              'audiolazy','audioread','beets','dejavu','django-elastic-transcoder','eyed3','id3reader','m3u8','mingus','pyaudioanalysis',
              'pydub','pyechonest','talkbox','timeside','tinytag','authomatic','django-allauth','django-oauth-toolkit','flask-oauthlib',
              'oauthlib','python-oauth2','python-social-auth','rauth','sanction','jose','pyjwt','python-jws','python-jwt','bitbake',
              'buildout','platformio','pybuilder','scons','django-cms','djedi-cms','feincms','kotti','mezzanine','opps','plone',
              'quokka','wagtail','widgy','beaker','diskcache','django-cache-machine','django-cacheops','django-viewlet',
              'dogpile.cache','hermescache','johnny-cache','pylibmc','errbot','coala','code2flow','pycallgraph','flake8','pylama',
              'pylint','mypy','asciimatics','cement','click','cliff','clint','colorama','docopt','gooey','python-fire','python-prompt-toolkit','aws-cli','bashplotlib','caniusepython3','cookiecutter','doitlive','howdoi','httpie','mycli','pathpicker','percol','pgcli','saws','thefuck','try','python-future','python-modernize','six','opencv','pyocr','pytesseract','simplecv','eventlet','gevent','multiprocessing','threading','tomorrow','uvloop','config','configobj','configparser','profig','python-decouple','cryptography','hashids','paramiko','passlib','pynacl','blaze','orange','pandas','cerberus','colander','jsonschema','schematics','valideer','voluptuous','altair','bokeh','ggplot','matplotlib','pygal','pygraphviz','pyqtgraph','seaborn','vispy','pickledb','pipelinedb','tinydb','zodb','mysql','mysql-python','mysqlclient','oursql','pymysql','postgresql','psycopg2','queries','txpostgres','apsw','pymssql','nosql','cassandra-python-driver','happybase','plyvel','py2neo','pycassa','pymongo','redis-py','telephus','txredis','arrow','chronyk','dateutil','delorean','moment','pendulum','pytime','pytz','when.py','ipdb','pdb++','pudb','remote-pdb','wdb','line_profiler','memory_profiler','profiling','vprof','caffe','keras','mxnet','neupy','pytorch','tensorflow','theano','ansible','cloud-init','cuisine','docker','fabric','fabtools','honcho','openstack','pexpect','psutil','saltstack','supervisor','dh-virtualenv','nuitka','py2app','py2exe','pyinstaller','pynsist','sphinx','awesome-sphinxdoc','mkdocs','pdoc','pycco','s3cmd','s4cmd','you-get','youtube-dl','alipay','cartridge','django-oscar','django-shop','merchant','money','python-currencies','forex-python','shoop','emacs','elpy','sublime','anaconda','sublimejedi','vim','jedi-vim','python-mode','youcompleteme','ptvs','visual','python','magic','liclipse','pycharm','spyder','envelopes','flanker','imbox','inbox.py','lamson','marrow','modoboa','nylas','yagmail','pipenv','p','pyenv','venv','virtualenv','virtualenvwrapper','imghdr','mimetypes','path.py','pathlib','python-magic','unipath','watchdog','cffi','ctypes','pycuda','swig','deform','django-bootstrap3','django-crispy-forms','django-remote-forms','wtforms','cytoolz','fn.py','funcy','toolz','curses','enaml','flexx','kivy','pyglet','pygobject','pyqt','pyside','pywebview','tkinter','toga','urwid','wxpython','cocos2d','panda3d','pygame','pyogre','pyopengl','pysdl2','renpy','django-countries','geodjango','geoip','geojson','geopy','pygeoip','beautifulsoup','bleach','cssutils','html5lib','lxml','markupsafe','pyquery','untangle','weasyprint','xmldataset','xmltodict','grequests','httplib2','requests','treq','urllib3','ino','keyboard','mouse','pingo','pyro','pyuserinput','scapy','wifi','hmap','imgseek','nude.py','pagan','pillow','pybarcode','pygram','python-qrcode','quads','scikit-image','thumbor','wand','clpython','cpython','cython','grumpy','ironpython','jython','micropython','numba','peachpy','pyjion','pypy','pysec','pyston','stackless','interactive','bpython','jupyter','ptpython','babel','pyicu','apscheduler','django-schedule','doit','gunnery','joblib','plan','schedule','spiff','taskflow','eliot','logbook','logging','sentry','metrics','nupic','scikit-learn','spark','vowpal_porpoise','xgboost','pyspark','luigi','mrjob','streamparse','dask','python(x','y)','pythonlibs','pythonnet','pywin32','winpython','gensim','jieba','langid.py','nltk','pattern','polyglot','snownlp','spacy','textblob','mininet','pox','pyretic','sdx','asyncio','diesel','pulsar','pyzmq','twisted','txzmq','napalm','django-activity-stream','stream-framework','django','sqlalchemy','awesome-sqlalchemy','orator','peewee','ponyorm','pydal','python-sql','pip','conda','curdling','pip-tools','wheel','warehouse','bandersnatch','devpi','localshop','carteblanche','django-guardian','django-rules','delegator.py subprocesses for','sarge','sh','celery','huey','mrq','rq','simpleq','annoy','fastfm','implicit','libffm','lightfm','surprise','tensorrec','django-rest-framework','django-tastypie','flask','eve','flask-api-utils','flask-api','flask-restful','flask-restless','pyramid','cornice','falcon','hug','restless','ripozo','sandman','apistar','simplejsonrpcserver','simplexmlrpcserver','zerorpc','astropy','bcbio-nextgen','bccb','biopython','cclib','networkx','nipy','numpy','obspy','pydy','pymc','rdkit','scipy','statsmodels','sympy','zipline','simpy','django-haystack','elasticsearch-dsl-py','elasticsearch-py','esengine','pysolr','solrpy','whoosh','marshmallow','apex','python-lambda','zappa','tablib','marmir','openpyxl','pyexcel','python-docx','relatorio','unoconv','xlsxwriter','xlwings','xlwt / xlrd','pdf','pdfminer','pypdf2','reportlab','markdown','mistune','python-markdown','yaml','pyyaml','csvkit','unp','cactus','hyde','lektor','nikola','pelican','tinkerer','django-taggit','genshi','jinja2','mako','hypothesis','mamba','nose','nose2','pytest','robot','unittest','green','tox','locust','pyautogui','selenium','sixpack','splinter','doublex','freezegun','httmock','httpretty','mock','responses','vcr.py','factory_boy','mixer','model_mommy','mimesis','fake2db','faker','radar','chardet','difflib','ftfy','fuzzywuzzy','levenshtein','pangu.py','pyfiglet','pypinyin','shortuuid','unidecode','uniout','xpinyin','slugify','awesome-slugify','python-slugify','unicode-slugify','parser','phonenumbers','ply','pygments','pyparsing','python-nameparser','python-user-agents','sqlparse','apache-libcloud','boto3','django-wordpress','facebook-sdk','facepy','gmail','google-api-python-client','gspread','twython','furl','purl','pyshorteners','short_url','webargs','moviepy','scikit-video','wsgi-compatible','bjoern','fapws3','gunicorn','meinheld','netius','paste','rocket','uwsgi','waitress','werkzeug','haul','html2text','lassie','micawber','newspaper','opengraph','python-goose','python-readability','sanitize','sumy','textract','cola','demiurge','feedparser','grab','mechanicalsoup','portia','pyspider','robobrowser','scrapy','bottle','cherrypy','awesome-django','awesome-flask','awesome-pyramid','sanic','tornado','turbogears','web2py','github','autobahnpython','crossbar','django-socketio','websocket-for-python','javascript','php','c#','c++','ruby','css','c','objective-c','shell','scala','swift','matlab','clojure','octave','machine learning','data analytics','predictive analytics','html','js','accounts payable','receivables','inventory controls','payroll','deposits','bank reconciliation','planning and enacting cash-flows','report preparation','financial models','financial controls','documentation','time management','schedules','benchmarking','future state assessment','business process re-engineering','as-is analysis','defining solutions and scope','gap analysis','role change','wireframing','prototyping','user stories','financial analysis/modeling','swot analysis','quickbooks','quicken','erp','enterprise resource planning','spanish','german','rest','soap','json','website','ui','ux','design','crm','cms','communication','coding','windows','servers','unix','linux','redhat','solaris','java','perl','vb script','xml','database','oracle','microsoft sql','sql','microsoft word','microsoft powerpoint','powerpoint','word','excel','visio','microsoft visio','microsoft excel','adobe','photoshop','hadoop','hbase','hive','zookeeper','openserver','auto cad','pl/sql','ruby on rails','asp','jsp','operations','technical','training','sales','marketing','reporting','compliance','strategy','research','analytical','engineering','policies','budget','finance','project management','health','customer service','content','presentation','brand','presentations','safety','certification','seo','digital marketing','accounting','regulations','legal','engagement','analytics','distribution','coaching','testing','vendors','consulting','writing','contracts','inventory','retail','healthcare','regulatory','scheduling','construction','logistics','mobile','c�(programming language)','correspondence','controls','human resources','specifications','recruitment','procurement','partnership','partnerships','management experience','negotiation','hardware','programming','agile','forecasting','advertising','business development','audit','architecture','supply chain','governance','staffing','continuous improvement','product development','networking','recruiting','product management','sap','troubleshooting','computer science','budgeting','electrical','customer experience','economics','information technology','transportation','social media','automation','lifecycle','filing','modeling','investigation','editing','purchasing','kpis','hospital','forecasts','acquisition','expenses','billing','workflow','product owner','analyze','cross functional','business process','process','improvement','pivot tables','pivot','vlookups','sharepoint','microsoft sharepoint','access database','access','test case','jira','tfs','hp alm','tableau','business object','business intelligence','jad','solicitation','kaban','vue.js',
              'sketch','indesign','illustrator','english','french','active directory','data center',
              'solution architecture','dns','network design','open source','desktop support','application support','administration',
              'change management','video','invoices','administrative support','payments','lean','process improvement','installation',
              'risk management','transactions','investigations','r (programming language)','data analysis','statistics','protocols',
              'program management','quality assurance','banking','outreach','sourcing','microsoft office','merchandising','r',
              'teaching','pharmaceutical','fulfillment','positioning','tax','service delivery','investigate','editorial',
              'account management','valid drivers license','electronics','pr','public relations','assembly','facebook',
              'spreadsheets','recruit','proposal','data entry','hotel','ordering','branding','life cycle','real estate',
              'relationship management','researching','process improvements','chemistry','saas','cad','sales experience',
              'mathematics','customer-facing','audio','project management skills','six sigma','hospitality','mechanical engineering',
              'auditing','employee relations','android','security clearance','licensing','fundraising','repairs','iso','market research',
              'business strategy','pmp','data management','quality control','reconciliation','conversion','business analysis',
              'financial analysis','ecommerce','client service','publishing','supervising','complex projects','key performance indicators',
              'scrum','sports','e-commerce','journalism','d (programming language)','data collection','higher education',
              'marketing programs','financial management','business plans','user experience','client relationships','cloud',
              'analytical skills','cisco','internal stakeholders','product marketing','regulatory requirements','itil','information security','aviation','supply chain management','industry experience','autocad','purchase orders','acquisitions','tv','instrumentation','strategic direction','law enforcement','call center','experiments','technical skills','human resource','business cases','build relationships','invoicing','support services','marketing strategy','operating systems','biology','start-up','electrical engineering','workflows','routing','non-profit','marketing plans','due diligence','business management','iphone','architectures','reconcile','dynamic environment','external partners','asset management','emea','intranet','sops','sas','digital media','prospecting','financial reporting','project delivery','operational excellence','standard operating procedures','technical knowledge','on-call','talent management','stakeholder management','tablets','analyze data','financial statements','microsoft office suite','fitness','case management','value proposition','industry trends','rfp','broadcast','portfolio management','fabrication','financial performance','customer requirements','psychology','marketing materials','resource management','physics','mortgage','development activities','end user','business planning','root cause','analysis','leadership development','relationship building','sdlc','on-boarding','quality standards','regulatory compliance','aws','kpi','status reports','product line','drafting','phone calls','product knowledge','business stakeholders','technical issues','admissions','supervisory experience','usability','pharmacy','commissioning','project plan','ms excel','fda','test plans','variances','financing','travel arrangements','internal customers','medical device','counsel','inventory management','performance metrics','lighting','outsourcing','performance improvement','management consulting','graphic design','transport','information management','.net','wpf','startup','matrix','front-end','project planning','business systems','accounts receivable','public health','hris','instructional design','in-store','employee engagement','cost effective','sales management','api','adobe creative suite','twitter','program development','event planning','cash flow','strategic plans','vendor management','trade shows','hotels','segmentation','contract management','gis','talent acquisition','photography','internal communications','client services','ibm','financial reports','product quality','beverage','strong analytical skills','underwriting','cpr','mining','sales goals','chemicals','scripting','migration','software engineering','mis','therapeutic','general ledger','ms project','standardization','retention','spelling','media relations','os','daily operations','immigration','product design','etl','field sales','driving record','peoplesoft','benchmark','quality management','apis','test cases','internal controls','telecom','business issues','research projects','data quality','strategic initiatives','office software','cfa','co-op','big data','journal entries','vmware','help desk','statistical analysis','datasets','alliances','solidworks','prototype','lan','sci','budget management','rfps','flex','gaap','experimental','cpg','information system','customer facing','process development','web services','international','travel','revenue growth','software development life cycle','operations management','computer applications','risk assessments','sales operations','raw materials','internal audit','physical security','sql server','affiliate','computer software','manage projects','business continuity','litigation','it infrastructure','cost reduction','small business','annual budget','ios','html5','real-time','consulting experience','circuits','risk assessment','cross-functional team','public policy','analyzing data','consulting services','google drive','ad words','pay per click','email','db2','expense tracking','reports','wordpress','yoast','ghostwriting','corel draw','automated billing','system','customer management','debugging','system administration','network configuration','software installation','security','tech support','updates','tci/ip','dhcp','wan/lan','ubuntu','virtualized networks','network automation','cloud management','ai','salesforce','mango db','math','calculus','product launch','mvp'


             ]
    
    skillset = []
    
    # check for one-grams (example: python)
    for token in tokens:
        if token.lower() in skills:
            skillset.append(token)
    
    # check for bi-grams and tri-grams (example: machine learning)
    for token in nlp_text.noun_chunks:
        token = token.text.lower().strip()
        if token in skills:
            skillset.append(token)
    
    return [i.capitalize() for i in set([i.lower() for i in skillset])]

In [15]:
from ast import JoinedStr
res = {}
position = input('Please select the position:')
print('***************************************************')
print('Resume ranking for position '+ position) 
nor = int(input('Please enter how many resumes want to scan: '))

for i in range(1,nor+1):
  print('Please enter path for resume ',i)
  rpath = input()
  doc = fitz.open(rpath)
  text = " "
  for page in doc:
    text = text + str(page.get_text())
    text = text.strip()
    text = ' '.join(text.split())
    res[i]=text
  doc = model(res[i])
  d ={}
  for ent in doc.ents:
    d[ent.label_] = ent.text
  df=pd.DataFrame(d,columns=['Name','Skills','College Name','Graduation Year','Degree','Designation','Graduation Year','Years of Experience','Companies worked at'],index=['Name']).reset_index(drop=True)
  df.loc[df['Skills'].isnull(), 'Skills'] = str(extract_skills(res[i]))
  df.loc[df['Name'].isnull(), 'Name'] = extract_name(res[i])
  if len(extract_degree(res[i])) != 0:
    df.loc[df['Degree'].isnull(), 'Degree'] = extract_degree(res[i])
  n = pd.concat([n, df], ignore_index = True)




print('resumes provided: ',res) 
print(n)

print('------------------------------------------------------------------')

jds = {}
print('JDs for the '+ position) 
noj = int(input('Please enter how many JDs want to scan: '))
for i in range(1,noj+1):
  print('Please enter path for JD ',i)
  jpath = input()
  doc = fitz.open(jpath)
  text = " "
  for page in doc:
    text = text + str(page.get_text())
    text = text.strip()
    text = ' '.join(text.split())
    jds[i]=text
  doc = model(jds[i])
  d ={}
  for ent in doc.ents:
    d[ent.label_] = ent.text
  df=pd.DataFrame(d,columns=['Skills','Degree','Designation','Years of Experience'],index=['Designation']).reset_index(drop=True)
 
  df.loc[df['Skills'].isnull(), 'Skills'] = str(extract_skills(jds[i]))
  df.loc[df['Degree'].isnull(), 'Degree'] = extract_degree(jds[i])
  jd = pd.concat([jd, df], ignore_index = True)

print('JDs provided: ',jds)
jd

Please select the position:BIE
***************************************************
Resume ranking for position BIE
Please enter how many resumes want to scan: 5
Please enter path for resume  1
/content/drive/MyDrive/content/candidate_085.pdf
HARRY MILES
Please enter path for resume  2
/content/drive/MyDrive/content/candidate_090.pdf
DTSl Software
Please enter path for resume  3
/content/drive/MyDrive/content/candidate_095.pdf
ERIC MILROY
Please enter path for resume  4
/content/drive/MyDrive/content/candidate_099.pdf
M A
Please enter path for resume  5
/content/drive/MyDrive/content/candidate_099.pdf
M A
resumes provided:  {1: 'HARRY MILES PROFILE Industrious and collaborative individual, Currently looking for an opportunity in Machine Learning and Deep Learning roles. I have a good depth of knowledge in ML Algorithms, various CNN architectures, and worked on Time series data, Image captioning, NLP tasks. Interested to work with an enthusiastic team on business problems. SKILLS Python, MySQL, Tensorflow, Keras, Machine Learning, Deep Learning. EXPERIENCE ASM Management Intern, Jan 2019 - Oct 2019 Understanding Image scaling models and using them for quality restoration of old images. EDUCATION B.Tech(Chemical) PPC University, 2020 I N T E R N F R E S H E R ACTIVITIES MACHINE LEARNING COURSE - TMLF PROJECTS Progress report and highlighting using NLP.', 2: 'DTSl Software Services Associate Data Engineer, Jul 2019 - Ongoing Synthesized current business intelligence data to produce reports and polished presentations, highlighting findings and recommending changes Analyzing and documenting Tender requirements, shared inputs, and working on a possible solution. B.Tech(Electrical) from Pune university in 2019 WORK EXPERIENCE EDUCATION MORGAN DELAFEY ASSOCIATE SYSTEM DATA ENGINEER Data Science Explorer with a keen interest in application models of Machine learning. Familiar with big data and can easily adapt to a new work environment. SAAS, Data Analyst, SQL, SPSS, Statistical Analysis, Microsoft Azure, Power Bi, MySQL, Excel, Data Visualization, Data Interpretation, Data Extraction, Cloud Computing, Business Intelligence. ABOUT SKILLS Healthcare Alert System NSE 1 Network Security Associate NSE 2 Network Security Associate PROJECT OTHER QUALIFICATION', 3: 'ERIC MILROY SYSTEM ENGINEER AND ANALYST PROFESSIONAL PROFILE Versatile experience in Machine Learning, Python, SQL & Computer Vision. Good Knowledge of Statistics and Mathematics. Knowledge of automating unsupervised learning methods such as anomaly detection and clustering. PROFICIENT SKILLS Machine Learning, Method Development, Artificial Intelligence, Data Modeling, Data Visualization, Data Validation, Deep Learning, MySQL, MongoDB, Python, Plotly, Seaborn, Matplotlib. EMPLOYMENT HISTORY Building an end-to-end project based on rating system and automatic verdict suggestion using and emotion regression system from the given rating and suggestions. Associate Software Engineer and Analyst, Jun 2020 - till date BlueM Solutions EDUCATIONAL HISTORY B.Tech (Electronics and Telecommunication) from CDAC ACTS, 2020 ACHIEVEMENTS AND EXTRA CURRICULAR AWS EC2 Certification. PROJECTS Data Extraction with python.', 4: 'Edison Anys M A C H I N E L E A R N I N G E N G I N E E R Executive Profile Machine Learning Engineer seeking roles in Machine Learning, Natural Language Processing, Artificial Intelligence, Data Science. Other Activities Gold Medalist in Bachelors. Projects Cloud based Distributer Management System(DMS). Skills Machine Learning, Natural Language Processing, Artificial Intelligence, Python, SQL, Docker, Spacy, Numpy, Pandas, TensorFlow. Work Experience KRUZR Machine Learning Engineer Intern, Dec 2019 - August 2020 Working for ML team at Kruzr on building driver safety platform. Experience in working with IoT data from smartphone sensors and productionizing ML models at scale. Education Integrated B.E. and M.Sc Hons. (Hons. Mechanical Engineering) from Birla Institute of Technology and Science (BITS), Pilani in 2020', 5: 'Edison Anys M A C H I N E L E A R N I N G E N G I N E E R Executive Profile Machine Learning Engineer seeking roles in Machine Learning, Natural Language Processing, Artificial Intelligence, Data Science. Other Activities Gold Medalist in Bachelors. Projects Cloud based Distributer Management System(DMS). Skills Machine Learning, Natural Language Processing, Artificial Intelligence, Python, SQL, Docker, Spacy, Numpy, Pandas, TensorFlow. Work Experience KRUZR Machine Learning Engineer Intern, Dec 2019 - August 2020 Working for ML team at Kruzr on building driver safety platform. Experience in working with IoT data from smartphone sensors and productionizing ML models at scale. Education Integrated B.E. and M.Sc Hons. (Hons. Mechanical Engineering) from Birla Institute of Technology and Science (BITS), Pilani in 2020'}
            Name                                             Skills  \
0    HARRY MILES  ['Deep learning', 'Keras', 'Python', 'R', 'Mys...
1  DTSl Software  ['Sql', 'Big data', 'Healthcare', 'Security', ...
2    ERIC MILROY  ['Mathematics', 'Sql', 'Aws', 'Mongodb', 'Deep...
3            M A  ['Sql', 'Numpy', 'Python', 'R', 'Tensorflow', ...
4            M A  ['Sql', 'Numpy', 'Python', 'R', 'Tensorflow', ...

                                      College Name Graduation Year  \
0                                   PPC University            2020
1                                  Pune university            2019
2                                              NaN            2020
3  Birla Institute of Technology and Science (BITS             NaN
4  Birla Institute of Technology and Science (BITS             NaN

                                              Degree  \
0                                                NaN
1                                                NaN
2  B.Tech (Electronics and Telecommunication) fro...
3                                B.E. and M.Sc Hons.
4                                B.E. and M.Sc Hons.

                               Designation Graduation Year  \
0                                      NaN            2020
1   DELAFEY ASSOCIATE SYSTEM DATA ENGINEER            2019
2  Associate Software Engineer and Analyst            2020
3                Machine Learning Engineer             NaN
4                Machine Learning Engineer             NaN

  Years of Experience Companies worked at
0                 NaN                 NaN
1                 NaN                 NaN
2                 NaN                 NaN
3                 NaN                 NaN
4                 NaN                 NaN
------------------------------------------------------------------
JDs for the BIE
Please enter how many JDs want to scan: 3
Please enter path for JD  1
/content/drive/MyDrive/content/JD5.pdf
Please enter path for JD  2
/content/drive/MyDrive/content/JD7.pdf
Please enter path for JD  3
/content/drive/MyDrive/content/JD9.pdf
JDs provided:  {1: 'Sr. Data Scientist Key Qualifications Create a holistic customer view across the multiple customer touchpoints (phone, chat, digital, branch) Support the execution priorities of the Omni channel ana- lytics team: Analyze performance of Citi owned channels including Citi website, emails, mobile app, desktop and mobile browser. Identify opportunities to en- hance the targeting eﬀiciency across channels (digital, phone, Branch) Utilize statistical and segmentation tools to develop targeting strategies for all ECM channels Create an optimization framework to maximize the ROI Identify the op- timal offer presentment strategy across the channels & make data-driven recom- mendations on offer prioritization Retrieve data and conduct data driven indus- try leading analytics utilizing various analytical tools, software and techniques. Translate data into insights that reflect an understanding of customer needs and behavioral drivers to inform strategic roadmaps and innovation. Conduct financial analysis and forecasting for program recommendations Understand all of the drivers of financials and the underlying consumer behaviors that drive those financials. Be able to articulate these to cross functional partners. Com- municate clearly and effectively to business partners and senior leaders Manage multiple projects simultaneously through effective project management. Create, update, and track project plans for multiple deliverable Translate digital per- formance KPIs into financial metrics for offer & NPV optimization Work with cross functional teams to create channel and reach expansion opportunities Col- laborate with vendors to further enhance one-to-one marketing capability digital channels Design tests and learn agenda with business partners & identify mar- keting eﬀiciency improvement opportunities Qualifications: Bachelor’s degree in a quantitative discipline is required (i.e. Statistics, Mathematics, Economics, Engineering or other quantitative field). Masters preferred 6+ years of work ex- perience in channel analytics(digital, phones) role is required Must have working knowledge of modern drive to web strategies Must have working knowledge of technical skills: SQL, SAS, MS Oﬀice, Hadoop, Hive Excellent analytic ability and problem solving skills. Must have demonstrated ability in data retrieving and manipulation Working experience in a quantitative field, consumer finance, credit card industry Education: Bachelors/University degree, Master’s degree preferred 1', 2: 'Data Engineer Key Qualifications Independently develop automated testing solutions using a variety of technolo- gies (SQL, Alteryx, SAS, Python, Tableau, etc.) Responsible for multiple projects simultaneously. Utilizes sound, seasoned analytical skills and pos- sesses product, business, and technical expertise to execute assigned responsibil- ities. Coordinates, schedules, scopes, and leads automation activities on audits (incl. large, cross-functional reviews). Leads data analysis of control deficien- cies to drive actionable business impact, influences management on suﬀiciency of correctives actions, recommends audit rating. Implements risk-based audit strategy. Exercises judgment and critical thinking to influence business part- ners. Identifies control trends through data analysis in assigned business areas as well as assessing impact to the business and to the Bank overall by applying deep and broad business acumen. Coaches/trains team in execution of automa- tion activities to support the audit plan. Follow the lifecycle of our internal system for automation activities and ensure its data accuracy and completeness. Ensure timely delivery of automation activities as per the point-in-time audit and issue validation timelines. Required Skills And Experience Bachelor’s de- gree OR 3 years minimum experience in data extraction with ability to write SQL queries. Skilled in the use of data wrangling and visualization tools such as Toad, Alteryx and Tableau. Understanding of Data Integration/ETL tools. Fa- miliarity with DataRobot, Instabase, and UIPath are a plus. Proven experience coordinating multiple projects/assignments simultaneously under minimal su- pervision and completing assigned tasks accurately and on a timely basis. Must demonstrate strong attention to detail with excellent organization skills. Excel- lent Communication skills (verbal and written) Desired Skills And Experience Advance SQL writing abilities Experience with Python AI/Data Science Expe- rience Knowledge of how to connect to data sources and extract and analyze data Audit experience 1', 3: 'Sr. Machine Learning Engineer Key Qualifications BS or Masters degrees in computer science, engineering, or related technical, math, or scientific field 6+ years Application Development experience required with cloud technologies 6+ years of Architecture experience: data pipelines, distributed computing engines 6+ years of Software Development Experi- ence: scripting languages (Python, R), database languages (SQL, PL/SQL, PG-PL/SQL), version control (GitHub, Bitbucket, AWS Code Commit, data structures, algorithms) 6+ years of Machine Learning Experience: ML frame- works, ML algorithms (understanding of classification, regression, clustering, embedding, NLP, and computer vision) Preferred Qualifications 6+ years of Machine Learning Experience: ML algorithms, experience with training models, hyperparameter tuning, distributed model training, hosting and deployment of models, ML pipelines (able to whiteboard common components if ML pipelines) 6+ years of Data Visualization experience: Python/R frameworks such as matplotlib, seaborn, ploty, ggplot2; JavaScript frameworks such as D3 3+ years of Data Science experience: Python (NumPy, SciPy, Pandas, SciKit-learn, TensorFlow/PyTorch/MXNet 6+ years of Machine Learning experience: supervised learning (regression), supervised learning (classification) 1'}

,Skills,Degree,Designation,Years of Experience
0,"['Technical skills', 'Analyze', 'Marketing', '...",Master’s degree,Sr. Data Scientist,NaN
1,"['Analyze', 'Communication', 'Plan', 'System',...",Bachelor’s de- gree,Data Engineer,NaN
2,"['R', 'Engineering', 'Pandas', 'Seaborn', 'Arc...","BS or Masters degrees in computer science, eng...",Sr. Machine Learning Engineer,6+

In [16]:
#!pip install -U pip setuptools wheel

#!pip install -U spacy

#!python -m spacy download en_core_web_sm

In [17]:
n

,Name,Skills,College Name,Graduation Year,Degree,Designation,Graduation Year,Years of Experience,Companies worked at
0,HARRY MILES,"['Deep learning', 'Keras', 'Python', 'R', 'Mys...",PPC University,2020,NaN,NaN,2020,NaN,NaN
1,DTSl Software,"['Sql', 'Big data', 'Healthcare', 'Security', ...",Pune university,2019,NaN,DELAFEY ASSOCIATE SYSTEM DATA ENGINEER,2019,NaN,NaN
2,ERIC MILROY,"['Mathematics', 'Sql', 'Aws', 'Mongodb', 'Deep...",NaN,2020,B.Tech (Electronics and Telecommunication) fro...,Associate Software Engineer and Analyst,2020,NaN,NaN
3,M A,"['Sql', 'Numpy', 'Python', 'R', 'Tensorflow', ...",Birla Institute of Technology and Science (BITS,NaN,B.E. and M.Sc Hons.,Machine Learning Engineer,NaN,NaN,NaN
4,M A,"['Sql', 'Numpy', 'Python', 'R', 'Tensorflow', ...",Birla Institute of Technology and Science (BITS,NaN,B.E. and M.Sc Hons.,Machine Learning Engineer,NaN,NaN,NaN

In [18]:
jd

,Skills,Degree,Designation,Years of Experience
0,"['Technical skills', 'Analyze', 'Marketing', '...",Master’s degree,Sr. Data Scientist,NaN
1,"['Analyze', 'Communication', 'Plan', 'System',...",Bachelor’s de- gree,Data Engineer,NaN
2,"['R', 'Engineering', 'Pandas', 'Seaborn', 'Arc...","BS or Masters degrees in computer science, eng...",Sr. Machine Learning Engineer,6+

In [19]:
data = pd.read_csv("/content/drive/MyDrive/content/Collage list.csv", low_memory=False)    
data.head(4)

  Institute ID                                   Name       City
0  IR-E-U-0456  Indian Institute of Technology Madras    Chennai
1  IR-E-I-1074   Indian Institute of Technology Delhi  New Delhi
2  IR-E-U-0306  Indian Institute of Technology Bombay     Mumbai
3  IR-E-I-1075  Indian Institute of Technology Kanpur     Kanpur

In [20]:
data = data.astype({'Name':'string'})
data=data.fillna('')
df = pd.DataFrame({'Name': [', '.join(data['Name'].str.strip('"').tolist())]})
pattern = '|'.join(data['Name'].str.strip('"').tolist())
pattern

"Indian Institute of Technology Madras|Indian Institute of Technology Delhi|Indian Institute of Technology Bombay|Indian Institute of Technology Kanpur|Indian Institute of Technology Kharagpur|Indian Institute of Technology Roorkee|Indian Institute of Technology Guwahati|Indian Institute of Technology Hyderabad|National Institute of Technology Tiruchirappalli|Indian Institute of Technology Indore|Indian Institute of Technology (BHU) Varanasi|Indian Institute of Technology (Indian School of Mines|National Institute of Technology Karnataka|Anna University|Vellore Institute of Technology|National Institute of Technology Rourkela|Jadavpur University|Institute of Chemical Technology|National Institute of Technology Warangal|Amrita School of Engineering|Indian Institute of Engineering Science and Technology|Indian Institute of Technology Bhubaneswar|National Institute of Technology Calicut|Indian Institute of Technology Gandhinagar|Indian Institute of Technology Ropar|Indian Institute of Technology Patna|Visvesvaraya National Institute of Technology|Jamia Millia Islamia|Thapar Institute of Engineering & Technology|Birla Institute of Technology & Science|Indian Institute of Technology Mandi|Amity University Noida|Indian Institute of Space Science and Technology|Siksha `O` Anusandhan|Malaviya National Institute of Technology|Delhi Technological University|Shanmugha Arts Science Technology & Research Academy|Birla Institute of Technology|Aligarh Muslim University|National Institute of Technology Kurukshetra|S. R. M. Institute of Science and Technology|Kalinga Institute of Industrial Technology|International Institute of Information Technology Hyder||    ||Sri Sivasubramaniya Nadar College of Engineering||Manipal Institute of Technology|National Institute of Technology Silchar|National Institute of Technology Durgapur|Motilal Nehru National Institute of Technology|PSG College of Technology||College of Engineering Pune||Sathyabama Institute of Science and Technology|Dr. B. R. Ambedkar National Institute of Technology|Indian Institute of Technology Jodhpur|Sardar Vallabhbhai National Institute of Technology|Visvesvaraya Technological University|Indraprastha Institute of Information Technology Delhi|Jawaharlal Nehru Technological University|Koneru Lakshmaiah Education Foundation University|M. S. Ramaiah Institute of Technology|Kalasalingam Academy of Research and Higher Education M|National Institute of Technology Meghalaya|International Institute of Information Technology Banga||   ||Defence Institute of Advanced Technology|Thiagarajar College of Engineering||Maulana Azad National Institute of Technology|Indian Institute of Information Technology Guwahati|National Institute of Technology Raipur|Punjab Engineering College (Deemed To Be University)|College of Engineering(A)||R. V. College of Engineering|Veermata Jijabai Technological Institute||Panjab University|B.M.S. College of Engineering|Indian Institute of Food Processing Technology (IIFPT)||National Institute of Technology Agartala|Netaji Subhas University of Technology (NSUT)|National Institute of Technology Goa|Shri Mata Vaishno Devi University||National Institute of Technology Jamshedpur|Karunya Institute of Technology and Sciences|Indian Institute of Information Technology Design & Man||     ||Kumaraguru College of Technology||Sri Krishna College of Engineering and Technology||Chandigarh University|College of Engineering Trivandrum||Guru Gobind Singh Indraprastha University|Lovely Professional University|University College of Engineering||Graphic Era University|Coimbatore Institute of Technology||Siddaganga Institute of Technology|National Institute of Technology Patna|C.V. Raman Global University||PES University|Vel Tech Rangarajan Dr. Sagunthala R & D Institute of S|Jaypee Institute of Information Technology|University College of Engineering||National Institute of Technology Hamirpur|Bharati Vidyapeeth Deemed University College of Enginee||Atal Bihari Vajpayee Indian Institute of Information Te||  ||Mepco Schlenk Engineering College||Dayalbagh Educational Institute|Indian Institute of Information Technology Allahabad|Punjab Technical University|Government College of Technology||Rajalakshmi Engineering College||Hindustan Institute of Technology and Science (HITS)|Sri Sairam Engineering College||Army Institute of Technology||The Northcap University|Dhirubhai Ambani Institute of Information and Communica|Shoolini University of Biotechnology and Management Sci|Shri Ramdeobaba College of Engineering and Management|Mor|New Horizon College of Engineering|Jaypee University of Information Technology|Maharaja Sayajirao University of Baroda|Jain University|Vignan's Foundation for Science, Technology & Research|Veer Surendra Sai University of Technology|YMCA University of Science and Technology|National Institute of Food Technology, Enterprenurship|Pondicherry Engineering College|B. S. Abdur Rahman Crescent Institute of Science and Te|Chaitanya Bharathi Institute of Technology||Bharatiya Vidya Bhavan`s Sardar Patel Institute of Tech||Dayananda Sagar College of Engineering|Vallurupalli Nageswara Rao Vignana Jyothi Institute of|Technology|Nitte Meenakshi Institute of Technology|DIT University|National Institute of Technology Puducherry|Nirma University|JSS Science and Technology University|N M A M Institute of Technology|Rajiv Gandhi Institute of Petroleum Technology|Kongu Engineering College||KLE Technological University|Sant Longowal Institute of Engineering & Technology|Dr. Vishwanath Karad MIT World Peace University|G. H. Raisoni College of Engineering||Yeshwantrao Chavan College of Engineering||CVR College Of Engineering||Sri Ramakrishna Engineering College||Vardhaman College of Engineering||The Rashtrasant Tukadoji Maharaj Nagpur University|North Eastern Regional Institute of Science & Technolog||Indira Gandhi Delhi Technical University for Women|P E S College of Engineering|National Institute of Foundry and Forge Technology (NIF||Saveetha Institute of Medical and Technical Sciences|Sona College of Technology||SVKM`s Narsee Monjee Institute of Management Studies Mo|Sri Krishna College of Technology||Sri Venkateswara University|Heritage Institute of Technology|R. M. K. Engineering College||Velagapudi Ramakrishna Siddhartha Engineering College M||Maulana Abul Kalam Azad University of Technology|National Institute of Technology Manipur|Alliance University|St. Josephs College of Engineering||SR Engineering College||Amity University Gwalior|Haldia Institute of Technology|Government Engineering College|Vishwakarma Institute of Technology|Harcourt Butler Technical University|University of Petroleum and Energy Studies|Walchand College of Engineering||BMS Institute of Technology & Management|Institute of Aeronautical Engineering||K. J. Somaiya College of Engineering||Goka Raju Ranga Raju Institute of Engineering & Technol||Maharshi Karve Stree Shikshan Samstha's Cummins College|Women                                                Mo|ManavRachna International Institute of Research & Studi|The National Institute of Engineering|Sri Venkateswara College of Engineering||Pandit Deendayal Petroleum University|School of Engineering, Cochin University of Science and|Silicon Institute of Technology (SIT), Bhubaneswar||Anurag Group of Institutions||Chitkara University|Indian Institute of Information Technology, Design & Ma|Madan Mohan Malaviya University of Technology|Sree Vidyanikethan Engineering College||JNTUA College of Engineering||BNM Institute of Technology|Vasavi College of Engineering||Gayatri Vidya Parishad College of Engineering||National Engineering College||G.Pulla Reddy Engineering College||Institute of Engineering & Management|Sri Sai Ram Institute of Technology||Dharmsinh Desai University|5     The LNM Institute of Information Technology|Guru Jambheshwar University of Science and Technology|Dr. D. Y. Patil Institute of Technology||Pimpri Chinchwad College of Engineering||Ramrao Adik Institute of Technology||BVRIT Hyderabad||National Institute of Technology Arunachal Pradesh|200 of 200 entries|NIRF | Parameters | Documents | Notification/Advt | Cont|2018, National Institutional Ranking Framework (NIRF), Mo|"

In [21]:
from collections import Counter
import ast

In [22]:
import math

def counter_cosine_similarity(c1, c2):
    terms = set(c1).union(c2)
    dotprod = sum(c1.get(k, 0) * c2.get(k, 0) for k in terms)
    magA = math.sqrt(sum(c1.get(k, 0)**2 for k in terms))
    magB = math.sqrt(sum(c2.get(k, 0)**2 for k in terms))
    return dotprod / (magA * magB)

In [23]:
final = pd.DataFrame(columns=['JD','Candidate Name','Match%'])

In [24]:
 
import random
 
jd['id'] =  'JD ' + jd['Designation']

jd

,Skills,Degree,Designation,Years of Experience,id
0,"['Technical skills', 'Analyze', 'Marketing', '...",Master’s degree,Sr. Data Scientist,NaN,JD Sr. Data Scientist
1,"['Analyze', 'Communication', 'Plan', 'System',...",Bachelor’s de- gree,Data Engineer,NaN,JD Data Engineer
2,"['R', 'Engineering', 'Pandas', 'Seaborn', 'Arc...","BS or Masters degrees in computer science, eng...",Sr. Machine Learning Engineer,6+,JD Sr. Machine Learning Engineer

In [25]:
di = {}
for ind in jd.index:
  l1 = ast.literal_eval(jd['Skills'][ind])
  for i in n.index:
    l2 = ast.literal_eval(n['Skills'][i])
    score = counter_cosine_similarity(Counter(l1), Counter(l2))
    
    percentage_match = round(score * 100, 1)
    print(n['Name'][i],jd['id'][ind],score,percentage_match)
    di['Candidate Name'] = n['Name'][i]
    di['JD'] = jd['id'][ind]
    di['Match%'] = percentage_match
    df=pd.DataFrame(di,columns=['JD','Candidate Name','Match%'],index=['Candidate Name']).reset_index(drop=True)
    final = pd.concat([final, df], ignore_index = True)

HARRY MILES JD Sr. Data Scientist 0.0 0.0
DTSl Software JD Sr. Data Scientist 0.0975900072948533 9.8
ERIC MILROY JD Sr. Data Scientist 0.13750477455423168 13.8
M A JD Sr. Data Scientist 0.0944911182523068 9.4
M A JD Sr. Data Scientist 0.0944911182523068 9.4
HARRY MILES JD Data Engineer 0.0674199862463242 6.7
DTSl Software JD Data Engineer 0.16514456476895406 16.5
ERIC MILROY JD Data Engineer 0.15512630699850574 15.5
M A JD Data Engineer 0.10660035817780521 10.7
M A JD Data Engineer 0.10660035817780521 10.7
HARRY MILES JD Sr. Machine Learning Engineer 0.29361010975735174 29.4
DTSl Software JD Sr. Machine Learning Engineer 0.09589266029707683 9.6
ERIC MILROY JD Sr. Machine Learning Engineer 0.270226409466627 27.0
M A JD Sr. Machine Learning Engineer 0.3713906763541037 37.1
M A JD Sr. Machine Learning Engineer 0.3713906763541037 37.1

In [26]:
t =jd['Degree'].tolist
t

<bound method IndexOpsMixin.tolist of 0                                      Master’s degree
1                                  Bachelor’s de- gree
2    BS or Masters degrees in computer science, eng...
Name: Degree, dtype: object>

In [28]:
# split dataframe using gropuby
print("Resume ranking for position: ",position)
print("'**************************************")
print("Resumes scanned: ",nor)
print("JDs scanned: ",noj)
print("______________________________________________________")
grouped = final.groupby(final['JD'])
for jd in final['JD'].unique():
    temporary_df = grouped.get_group(jd)
    
    rslt_df = temporary_df.sort_values(by = 'Match%', ascending = False)


    print(rslt_df)
    print("--------------------------------------------------------------------")

print("______________________________________________________")
print("                   Thanks                           ")

Resume ranking for position:  BIE
'**************************************
Resumes scanned:  5
JDs scanned:  3
______________________________________________________
                      JD Candidate Name  Match%
2  JD Sr. Data Scientist    ERIC MILROY    13.8
1  JD Sr. Data Scientist  DTSl Software     9.8
3  JD Sr. Data Scientist            M A     9.4
4  JD Sr. Data Scientist            M A     9.4
0  JD Sr. Data Scientist    HARRY MILES     0.0
--------------------------------------------------------------------
                 JD Candidate Name  Match%
6  JD Data Engineer  DTSl Software    16.5
7  JD Data Engineer    ERIC MILROY    15.5
8  JD Data Engineer            M A    10.7
9  JD Data Engineer            M A    10.7
5  JD Data Engineer    HARRY MILES     6.7
--------------------------------------------------------------------
                                  JD Candidate Name  Match%
13  JD Sr. Machine Learning Engineer            M A    37.1
14  JD Sr. Machine Learning Engineer            M A    37.1
10  JD Sr. Machine Learning Engineer    HARRY MILES    29.4
12  JD Sr. Machine Learning Engineer    ERIC MILROY    27.0
11  JD Sr. Machine Learning Engineer  DTSl Software     9.6
--------------------------------------------------------------------
______________________________________________________
                   Thanks

In [29]:
n

,Name,Skills,College Name,Graduation Year,Degree,Designation,Graduation Year,Years of Experience,Companies worked at
0,HARRY MILES,"['Deep learning', 'Keras', 'Python', 'R', 'Mys...",PPC University,2020,NaN,NaN,2020,NaN,NaN
1,DTSl Software,"['Sql', 'Big data', 'Healthcare', 'Security', ...",Pune university,2019,NaN,DELAFEY ASSOCIATE SYSTEM DATA ENGINEER,2019,NaN,NaN
2,ERIC MILROY,"['Mathematics', 'Sql', 'Aws', 'Mongodb', 'Deep...",NaN,2020,B.Tech (Electronics and Telecommunication) fro...,Associate Software Engineer and Analyst,2020,NaN,NaN
3,M A,"['Sql', 'Numpy', 'Python', 'R', 'Tensorflow', ...",Birla Institute of Technology and Science (BITS,NaN,B.E. and M.Sc Hons.,Machine Learning Engineer,NaN,NaN,NaN
4,M A,"['Sql', 'Numpy', 'Python', 'R', 'Tensorflow', ...",Birla Institute of Technology and Science (BITS,NaN,B.E. and M.Sc Hons.,Machine Learning Engineer,NaN,NaN,NaN